body{
  font-family: 'Outfit', sans-serif;
  max-width: 1440px;
  margin: 0 ;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (max-width: 819px) {
  .wrapper {
      padding: 0 32px;
  }
}

@media (min-width: 820px) and (max-width: 1080px) {
  .wrapper {
      padding: 0 70px;
  }
}


@media (min-width: 1080px) {
  .wrapper{
      padding: 0 140px;
  }
}