
@media (max-width:879px) {
  .course-card {
    max-width: 500px;
  }
}

@media (min-width:880px) {
  .course-card {
    max-width: 350px;
  }
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.course-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  flex: 1 1 300px;
}

.course-title {
  color: #911C2D;
  font-size: 1.4rem;
  font-weight: bold;
}

.course-description {
  font-size: 1rem;
  color: #2B2A29;
}

.course-subjects {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.course-subjects li {
  font-size: 0.9rem;
  background: #911C2D;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}